html {
    font-size: 14px;
}
h1 {
    text-align: center;
}

btnAlignment {
    text-align: center;
    
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.product-image {
    width: 150px;
    height: 150px;
    aspect-ratio: auto;
    object-fit: cover;
}

.submitBtn {
    background-color: #258cfb;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.tableDesign {
    border: none;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    align-content:center
}

td, th {
    border: none;
    text-align: center;
    padding: 8px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
