@model IEnumerable<ECommerceApp.Models.Product>

@{
    ViewData["Title"] = "Sortiment";
}

<h1>Sortiment</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" title="Login erforderlich" id="btnAlignment">Neuer Eintrag </a>
</p>
<table class="table" id="tableDesign">
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @($"{item.Price:C}")
                </td>

                <td>

                    <a asp-action="Details" asp-route-id="@item.Id">

                        <img src="/assets/images/placeholder01.JPEG" alt="product-image" class="product-image" title="Klicken für Details"/>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
